h1{
    position: absolute;
width: 586px;
height: 190px;
left: 735px;
top: 265px;

font-family: monospace;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 95px;
letter-spacing: -0.035em;

/* Gray 1 */

color: #333333;

}
.error{
    height: 108px;
width: 381px;
left: 736px;
top: 491px;
border-radius: nullpx;

}
.button{
  
    text-align: center;
    width: 130px;
    height: 21px;
    left: 900px;
    top: 687px;
    
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    letter-spacing: -0.035em;
    text-transform: uppercase;
    
    color: #ffffff;
}
div{
    position: absolute;
width: 216px;
height: 68px;
left: 740px;
top: 663px;

/* Gray 1 */

background: #333333;
}
.error{
position: absolute;
width: 381px;
height: 108px;
left: 736px;
top: 491px;

font-family: monospace;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.035em;

/* Gray 2 */

color: #4F4F4F;
}
.footer{

position: absolute;
width: 287px;
height: 17px;
left: 577px;
top: 1039px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #BDBDBD;
}
h6{
    position: absolute;
width: 133px;
height: 25px;
left: 77px;
top: 40px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;

}
img{
    
    position: absolute;
    height: 447.4263916015625px;
width: 539.2236938476562px;
left: 77px;
top: 265px;
border-radius: 0px;

}